/**
 * Nav
 */

// Basic horizontal Nav
nav,
nav ul {
  display: flex;
}

nav {
  justify-content: space-between;

  ol,
  ul {
    align-items: center;
    margin-bottom: 0;
    padding: 0;
    list-style: none;
  }

  li {
    display: inline-block;
    margin: 0;
    padding: 0;

    a, 
    [role="link"],
    button,
    [role="button"] {
      @extend .h4;
      display: inline-block;
      color: var(--nav-link-color);
      padding: 0.5em 1.5em;
      margin: 0;
      border-radius: 2.5rem;
      border: none;

      &:hover,
      &:active {
        background-color: var(--primary);
        color: var(--primary-inverse);
      }

      &:focus {
        background-color: var(--link-focus);
        color: var(--primary-inverse);
      }
    }
  }
}

// Main nav
.ds-nav-main {
  li > * {
    padding: 1.5rem 2rem;
  }
}

// Tabs
.ds-nav-tabs {
  border-bottom: solid 1px var(--nav-tab-border);

  li > * {
    margin: 0 0 -1px;
    padding: 1rem 1.5rem;
    border-bottom: solid 0.25rem transparent !important;
  }

  a, 
  [role="link"],
  button,
  [role="button"] {
    background-color: transparent;
    --font-weight: var(--nav-tab-font-weight);
    border-radius: 0;

    &:hover,
    &:active {
      border-color: var(--nav-tab-border) !important;
      background-color: transparent;
      color: var(--link-hover);
    }

    &:focus {
      border-color: var(--link-focus) !important;
      background-color: transparent;
      color:  var(--link-focus);
    }
  }
}

// Vertical Nav
aside,
.ds-nav-vertical {
  nav,
  ol,
  ul,
  li {
    display: block;
  }

  li {
    
    a {
      display: block;
      margin-bottom: var(--spacing);
    }
  }
}

// Tool bar nav
nav.ds-nav-tools,
aside.ds-nav-tools {
  justify-content: flex-start;
  align-items: center;
  
  & > button,
  & > [role="button"] {
    border-radius: 0;
    border-style: solid;
    border-width: .25rem 0;
    border-color: var(--card-border-color);
    background-color: var(--background-color);
    color: var(--link) !important;
    padding: 1rem 1.5rem;
    display: block;
    margin: 0;

    &:hover,
    &:active {
      background-color: var(--primary);
      color: var(--primary-inverse) !important;
    }

    &:focus {
      background-color: var(--link-focus);
      color: var(--primary-inverse) !important;
    }

    &:first-child {
      border-radius: 2.5rem 0 0 2.5rem;
      border-left-width: .25rem;
    }
    &:last-child {
      border-radius: 0 2.5rem 2.5rem 0;
      border-right-width: .25rem;
    }
  }

  & > hr {
    display: block;
    border: solid .25rem var(--card-border-color);
    border-width: .25rem 0;
    background-color: var(--card-border-color);
    width: 1px;
    height: 3.75rem;
  }
}
