/**
 * Nav
 */

// Basic horizontal Nav
nav,
nav ul {
  display: flex;
}

nav {
  justify-content: space-between;
  align-items: center;

  & > * {
    margin: 0;
  }

  ol,
  ul {
    align-items: center;
    padding: 0;
    list-style: none;
  }

  li {
    display: inline-block;
    padding: 0;
    margin: 0;

    a, 
    [role="link"],
    button,
    [role="button"] {
      @extend .h4;
      display: inline-block;
      color: var(--nav-link-color);
      padding: 0.5em 1.5em;
      margin: 0;
      border-radius: 2.5rem;
      border: none;

      &:hover,
      &:active {
        background-color: var(--primary);
        color: var(--primary-inverse);
      }

      &:focus {
        background-color: var(--link-focus);
        color: var(--primary-inverse);
      }
    }
  }
}

// Main nav
.ds-nav-main {
  li > * {
    padding: 1.5rem 2rem;
  }
}

// Tabs
.ds-nav-tabs {
  border-bottom: solid 1px var(--nav-tab-border);
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-end;
  overflow-y: auto;
  justify-content: flex-start;

  li > * {
    margin: 0 0 -1px;
    padding: 1rem 1.5rem;
    border-bottom: solid 0.25rem transparent !important;
  }

  a, 
  [role="link"],
  button,
  [role="button"] {
    background-color: transparent;
    --font-weight: var(--nav-tab-font-weight);
    border-radius: 0;

    &:hover,
    &:active {
      border-color: var(--nav-tab-border) !important;
      background-color: transparent;
      color: var(--link-hover);
    }

    &:focus {
      border-color: var(--link-focus) !important;
      background-color: transparent;
      color:  var(--link-focus);
    }
  }
}

.ds-nav-tabs > a,
.ds-nav-tabs > [role="link"] {
  @extend .h4;
  padding: 1rem 1.5rem;
  margin: 0;
  border-bottom: solid 0.25rem transparent !important;

  &:hover,
  &:active {
    color: var(--link-hover);
    border-color: var(--nav-tab-border) !important;
  }

  &:focus {
    color:  var(--link-focus);
    border-color: var(--link-focus) !important;
  }
} 

// Vertical Nav
aside,
.ds-nav-vertical {
  nav,
  ol,
  ul,
  li {
    display: block;
  }

  li {
    
    a {
      display: block;
    }
  }
}

// Tool bar nav
nav.ds-nav-tools,
aside.ds-nav-tools {
  
  .ds-button-group {
    border-radius: 2.5rem;  
    border: solid .25rem var(--card-border-color);
    justify-content: flex-start;
    align-items: center;
    background-color: var(--hvid);
  }

  button,
  [role="button"] {
    background-color: transparent;
    border-color: transparent;
    color: var(--primary) !important;
    min-height: 3rem;
    min-width: 3rem;

    &:hover,
    &:active {
      background-color: var(--aktion);
      color: var(--sort) !important;
    }

    &:focus {
      //background-color: $amber-400;
      //color: var(--primary-inverse);
    }

    &::before {
      filter: none;
    }

    &:hover::before,
    &:active::before {
      filter: brightness(0);
    }
  }

  hr {
    display: block;
    border: none;
    background-color: var(--card-border-color);
    width: 1px;
    height: 3rem;
    margin: 0 0.25rem;
  }

  &.vertical {

    .ds-button-group {
      flex-flow: column nowrap;

      hr {
        display: block;
        border: none;
        background-color: var(--card-border-color);
        width: 3rem;
        height: 1px;
        margin: 0.25rem 0;
      }

      & > button,
      & > input,
      & > a {

        &:first-child {
          min-height: 3.25rem;
          border-radius: 2.5rem 2.5rem 0 0;
          &::before {
            top: .5rem;
            left: .35rem;
          }
        }

        &:last-child {
          min-height: 3.25rem;
          border-radius: 0 0 2.5rem 2.5rem;
          &::before {
            top: .25rem;
            left: .35rem;
          }
        }
      }
    }
  }
}
