/**
 * Nav
 */

// Basic horizontal Nav
nav,
nav ul {
  display: flex;
}

nav {
  justify-content: space-between;
  align-items: center;

  & > * {
    margin: 0;
  }

  ol,
  ul {
    align-items: center;
    padding: 0;
    list-style: none;
  }

  li {
    display: inline-block;
    padding: 0;
    margin: 0;

    a, 
    [role="link"],
    button,
    [role="button"] {
      @extend .h4;
      display: inline-block;
      color: var(--nav-link-color);
      padding: 0.5em 1.5em;
      margin: 0;
      border-radius: 2.5rem;
      border: none;

      &:hover,
      &:active {
        background-color: var(--primary);
        color: var(--primary-inverse);
      }

      &:focus {
        background-color: var(--link-focus);
        color: var(--primary-inverse);
      }
    }
  }
}

// Main nav
.ds-nav-main {
  li > * {
    padding: 1.5rem 2rem;
  }
}

// Tabs
.ds-nav-tabs {
  border-bottom: solid 1px var(--nav-tab-border);

  li > * {
    margin: 0 0 -1px;
    padding: 1rem 1.5rem;
    border-bottom: solid 0.25rem transparent !important;
  }

  a, 
  [role="link"],
  button,
  [role="button"] {
    background-color: transparent;
    --font-weight: var(--nav-tab-font-weight);
    border-radius: 0;

    &:hover,
    &:active {
      border-color: var(--nav-tab-border) !important;
      background-color: transparent;
      color: var(--link-hover);
    }

    &:focus {
      border-color: var(--link-focus) !important;
      background-color: transparent;
      color:  var(--link-focus);
    }
  }
}

// Vertical Nav
aside,
.ds-nav-vertical {
  nav,
  ol,
  ul,
  li {
    display: block;
  }

  li {
    
    a {
      display: block;
      margin-bottom: var(--spacing);
    }
  }
}

// Tool bar nav
nav.ds-nav-tools,
aside.ds-nav-tools {
  
  .ds-button-group {
    border-radius: 2.5rem;  
    border: solid .25rem var(--card-border-color);
    justify-content: flex-start;
    background-color: var(--background-color);
  }

  button,
  [role="button"] {
    background-color: transparent;
    border-color: transparent;
    color: var(--nav-tab-border) !important;

    &:hover,
    &:active {
      background-color: var(--primary);
      color: var(--primary-inverse);
    }

    &:focus {
      background-color: $amber-400;
      color: var(--primary-inverse);
    }

    &::before {
      filter: var(--icon-filter-secondary);
    }

    &:hover::before,
    &:active::before {
      filter: var(--icon-filter-standard);
    }
  }

  hr {
    display: block;
    border: none;
    background-color: var(--card-border-color);
    width: 1px;
    height: 2.5rem;
    margin: 0 0.5rem;
  }
}
