// Default: Dark theme
@mixin dark {
  // Document
  color-scheme: dark;
  --background-color: #{$primary-900};

  // Texts colors
  --color: #{$white};
  --h1-color: #{$white};
  --h2-color: #{$white};
  --h3-color: #{$grey-50};
  --h4-color: #{$grey-50};
  --h5-color: #{$grey-50};
  --h6-color: #{$grey-50};

  // Font weights
  --font-weight: 400;

  // Muted colors
  --muted-color: #{$grey-500};
  --muted-border-color: #{$primary-800};

  // Link colors
  --link: #{$green-400};
  --link-hover: #{$green-300};
  --link-focus: #{$amber-400};

  // Primary colors
  --primary: #{$green-400};
  --primary-inverse: #{$white};
  --primary-hover: #{$green-600};
  --primary-focus: #{$amber-400};

  // Secondary colors
  --secondary: #{$primary-50};
  --secondary-inverse: #{$grey-50};
  --secondary-hover: #{$green-600};

  // Contrast colors
  --contrast: #{$white};
  --contrast-inverse: #{$grey-900};
  --contrast-hover: #{$green-300};

  // Highlighted text (<mark>)
  --mark-background-color: #{mix($grey-300, $amber-300)};
  --mark-color: #{mix($black, $grey-900, 37.5%)};

  // Inserted (<ins>) & Deleted (<ins>)
  --ins-color: #{$green-700};
  --del-color: #{$red-800};

  // Blockquote
  --blockquote-border-color: var(--muted-border-color);
  --blockquote-footer-color: var(--muted-color);

  // Button
  // To disable box-shadow, remove the var or set to '0 0 0 rgba(0, 0, 0, 0)'
  // Don't use, 'none, 'false, 'null', '0', etc.
  --button-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  --button-hover-box-shadow: 0 0 0 rgba(0, 0, 0, 0);

  // Form elements
  --form-element-background-color: #{$primary-900};
  --form-element-border-color: #{$primary-700};
  --form-element-color: var(--color);
  --form-element-placeholder-color: var(--muted-color);
  --form-element-active-background-color: #{$primary-900};
  --form-element-active-border-color: var(--primary);
  --form-element-focus-color: #{$amber-300};
  --form-element-disabled-background-color: #{$grey-800};
  --form-element-disabled-border-color: #{$grey-700};
  --form-element-disabled-opacity: 0.5;
  --form-element-invalid-border-color: #{$red-900};
  --form-element-invalid-active-border-color: #{$red-800};
  --form-element-invalid-focus-color: #{rgba($red-800, 0.25)};
  --form-element-valid-border-color: #{$green-800};
  --form-element-valid-active-border-color: #{$green-700};
  --form-element-valid-focus-color: #{rgba($green-700, 0.25)};
  
  // Navigation
  --nav-link-color: #{$white};
  --nav-tab-border: #{$green-400};
  --nav-tab-font-weight: 400;

  // Switch (input[type="checkbox"][role="switch"])
  --switch-background-color: #{mix($grey-800, $grey-700)};
  --switch-color: var(--primary-inverse);
  --switch-checked-background-color: var(--primary);

  // Range (input[type="range"])
  --range-border-color: #{$primary-600};
  --range-active-border-color: var(--aktion);
  --range-thumb-border-color: var(--background-color);
  --range-thumb-color: var(--secondary);
  --range-thumb-hover-color: var(--secondary-hover);
  --range-thumb-active-color: var(--primary);

  // Table
  --table-border-color: var(--muted-border-color);
  --table-row-stripped-background-color: #{rgba($grey-500, 0.05)};

  // Code
  --code-background-color: #{mix($black, $grey-900, 12.5%)};
  --code-color: var(--muted-color);
  --code-kbd-background-color: var(--contrast);
  --code-kbd-color: var(--contrast-inverse);
  --code-tag-color: #{hsl(330, 30%, 50%)};
  --code-property-color: #{hsl(185, 30%, 50%)};
  --code-value-color: #{hsl(40, 10%, 50%)};
  --code-comment-color: #{mix($grey-700, $grey-600)};

  // Accordion (<details>)
  --accordion-border-color: var(--muted-border-color);
  --accordion-active-summary-color: var(--primary);
  --accordion-close-summary-color: var(--color);
  --accordion-open-summary-color: var(--muted-color);

  // Card
  --card-background-color: #{$primary-900};
  --card-border-color: #{$primary-50};

  // Dropdown (<details role="list">)
  --dropdown-background-color: #{$grey-900};
  --dropdown-border-color: #{mix($grey-900, $grey-800)};
  --dropdown-box-shadow: var(--card-box-shadow);
  --dropdown-color: var(--color);
  --dropdown-hover-background-color: #{rgba(mix($grey-900, $grey-800), 0.75)};

  // Modal (<dialog>)
  --modal-overlay-background-color: #{rgba(mix($grey-900, $grey-800), 0.9)};

  // Progress
  --progress-background-color: #{mix($grey-900, $grey-800)};
  --progress-color: var(--primary);

  // Loading ([aria-busy=true])
  --loading-spinner-opacity: 0.5;

  // Tooltip ([data-tooltip])
  --tooltip-background-color: var(--contrast);
  --tooltip-color: var(--contrast-inverse);

  // Logos
  --logo-filter: brightness(0) invert(100%);
  --logo-filter-hover: brightness(1.2) saturate(70%);
  --logo-filter-focus: invert(100%) saturate(85%) hue-rotate(20deg);

  // Icons
  --icon-filter: brightness(0) invert(100%);
  --icon-filter-standard: brightness(0) invert(100%);
  --icon-filter-secondary: brightness(0) invert(100%);
  --icon-filter-secondary-hover: none;
  --icon-filter-outline: brightness(0) invert(100%);
  --icon-filter-outline-hover: brightness(0) invert(100%);
  --icon-filter-contrast: none;
  --icon-filter-contrast-hover: brightness(0);

  h1,
  .h1 {
    font-weight: 300;
  }

  h2,
  .h2,
  label {
    font-weight: 400;
  }
}
