// Common Styles


:root {
  
  --tyrkis: hsl(186,100%,33%);
  --mork-tyrkis: hsl(186,100%,12%);
  --vibrant-steel: hsla(186,40%,82%,0.7);
  --dark-steel: hsla(186,25%,64%,0.6);
  --medium-steel: hsl(186,25%,91%);
  --lys-steel: hsl(186,25%,96%);
  --sort: #000;
  --65-sort: hsla(0,0%,0%,0.65);
  --hvid: #fff;
  --aktion: hsl(171,70%,55%);
  --highlight: hsl(26,80%,56%);
  --advarsel: hsl(0,100%,66%);

  // Typography

  // Use 'Roboto' font 
  // (refer to /assets/fonts/font.css for font-face implmentation)
  --font-family: 'Roboto', sans-serif;
  --line-height: 1.35;
  --font-weight: 300;
  --font-size: 100%;
  --font-style: normal;

  // Margins, paddings
  --margin: 1rem;
  --padding: 1.5rem 1rem 2rem;
  --optical-padding: 0 0.25rem;
  --optical-margin: 0 -0.25rem;

  // Spacings
  --spacing: 1rem;
  --map-element-spacing: 1.5rem 1rem 2rem;
  --modal-margin: 3.5vw 5vw;

  // Spacings for typography elements
  --typography-spacing-vertical: 1rem;
  --typography-spacing-vertical-top: 2rem;
  --typography-spacing-vertical-bottom: 1rem;

  // Spacing for grids
  --grid-spacing: 1rem;
  --grid-spacing-vertical: var(--grid-spacing);
  --grid-spacing-horizontal: var(--grid-spacing);

  // Responsive typography and spacing
  @if map-get($breakpoints, "sm") {
    @media (min-width: map-get($breakpoints, "sm")) {
      --margin: 2rem 3rem;
      --margin-vertical: 2rem;
      --grid-spacing: 2rem;
      --grid-spacing-vertical: var(--grid-spacing);
      --grid-spacing-horizontal: var(--grid-spacing);
      --map-element-spacing: 1.5rem 2rem 2rem;
      --typography-spacing-vertical: 1.5rem;
    }
  }

  @if map-get($breakpoints, "md") {
    @media (min-width: map-get($breakpoints, "md")) {
      --margin: 3.5rem 5rem;
      --margin-vertical: 3.5rem;
      --grid-spacing: 3.5rem;
      --grid-spacing-vertical: var(--grid-spacing);
      --grid-spacing-horizontal: var(--grid-spacing);
      --map-element-spacing: 1.5rem 3.5rem 2rem;
    }
  }

  @if map-get($breakpoints, "xl") {
    @media (min-width: map-get($breakpoints, "xl")) {
      --font-size: 105%;
    }
  }


  // Borders
  --border: solid 0.125rem var(--medium-steel);
  --border-radius: 0.25rem;
  --border-width: 1px;
  --outline-width: 3px;

  // Spacings for form elements and button
  --form-element-spacing-vertical: 0.75rem;
  --form-element-spacing-horizontal: 1.75rem;

  // Spacings for nav component
  --nav-element-spacing-vertical: 1rem;
  --nav-element-spacing-horizontal: 0.5rem;
  --nav-link-spacing-vertical: 0.5rem;
  --nav-link-spacing-horizontal: 0.5rem;

  // Font weight for form labels & fieldsets legend
  --form-label-font-weight: var(--font-weight);

  // Transitions
  --transition: 0.2s ease-in-out;
}

// Link
a {
  --text-decoration: none;

  // Secondary & Contrast
  &.secondary,
  &.contrast {
    --text-decoration: underline;
  }

}

// Forms elements
[type="checkbox"],
[type="radio"] {
  --border-width: 2px;
}

[type="checkbox"][role="switch"] {
  --border-width: 3px;
}

// Table
thead,
tfoot {
  th,
  td {
    --border-width: 3px;
  }
}

// Code
pre,
code,
kbd,
samp {
  --font-family: 'Source Code Pro', monospace;
}

kbd {
  --font-weight: bolder;
}
