// Common Styles


:root {
  
  --tyrkis: hsl(186,100%,33%);
  --mork-tyrkis: hsl(186,100%,12%);
  --vibrant-steel: hsla(186,40%,82%,0.7);
  --dark-steel: hsla(186,25%,64%,0.6);
  --medium-steel: hsl(186,25%,91%);
  --lys-steel: hsl(186,25%,96%);
  --sort: #000;
  --65-sort: hsla(0,0%,0%,0.65);
  --hvid: #fff;
  --aktion: hsl(171,70%,55%);
  --highlight: hsl(26,80%,56%);
  --advarsel: hsl(0,100%,66%);

  // Typography

  // Use 'Roboto' font 
  // (refer to /assets/fonts/font.css for font-face implmentation)
  --font-family: 'Roboto', sans-serif;
  --line-height: 1.2;
  --font-weight: 300;
  --font-size: 100%;

  // Responsive typography
  @if map-get($breakpoints, "sm") {
    @media (min-width: map-get($breakpoints, "sm")) {
      --font-size: 17px;
    }
  }

  @if map-get($breakpoints, "md") {
    @media (min-width: map-get($breakpoints, "md")) {
      --font-size: 18px;
    }
  }

  @if map-get($breakpoints, "lg") {
    @media (min-width: map-get($breakpoints, "lg")) {
      --font-size: 19px;
    }
  }

  @if map-get($breakpoints, "xl") {
    @media (min-width: map-get($breakpoints, "xl")) {
      --font-size: 20px;
    }
  }


  // Borders
  --border-radius: 0.25rem;
  --border-width: 1px;
  --outline-width: 3px;

  // Spacings
  --spacing: 1rem;

  // Spacings for typography elements
  --typography-spacing-vertical: 1.5rem;

  --grid-spacing-vertical: 0;
  --grid-spacing-horizontal: var(--spacing);

  // Spacings for form elements and button
  --form-element-spacing-vertical: 0.75rem;
  --form-element-spacing-horizontal: 1.75rem;

  // Spacings for nav component
  --nav-element-spacing-vertical: 1rem;
  --nav-element-spacing-horizontal: 0.5rem;
  --nav-link-spacing-vertical: 0.5rem;
  --nav-link-spacing-horizontal: 0.5rem;

  // Font weight for form labels & fieldsets legend
  --form-label-font-weight: var(--font-weight);

  // Transitions
  --transition: 0.2s ease-in-out;
}

// Link
a {
  --text-decoration: none;

  // Secondary & Contrast
  &.secondary,
  &.contrast {
    --text-decoration: underline;
  }

}

// Small
small {
  --font-size: 0.875em;
}

// Forms elements
[type="checkbox"],
[type="radio"] {
  --border-width: 2px;
}

[type="checkbox"][role="switch"] {
  --border-width: 3px;
}

// Table
thead,
tfoot {
  th,
  td {
    --border-width: 3px;
  }
}

// Code
pre,
code,
kbd,
samp {
  --font-family: 'Source Code Pro', monospace;
}

kbd {
  --font-weight: bolder;
}
