/* Icons */

[class*="ds-icon-"] {

  --icon-size: calc(var(--space) * 2.5);
  --icon-pos: calc(var(--space) * 0.425);


  position: relative;
  min-width: var(--space-xl);
  height: var(--space-xl);
  display: inline-flex;
  vertical-align: middle;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  margin: 0;

  &::before {
    content: '';
    position: absolute;
    top: var(--icon-pos);
    left: var(--icon-pos);
    display: block;
    height: var(--icon-size);
    width: var(--icon-size);
    background-position: center center;
    background-size: var(--icon-size) var(--icon-size);
    filter: var(--icon-filter);
  }
}

[class*="ds-icon-some"]::before {
  filter: none;
}
