.ds-icon-clipboard {
  display: inline-block;
  text-indent: -1000rem;
  background: url("/node_modules/design-system-icons/icons/icon_clipboard.svg") no-repeat center center transparent;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: .25rem;
}