/**
 * Spacing
 * Utility classes for margins, paddings, etc.
 */

.ds-padding {
  padding: var(--padding);

  & > *:last-child {
    margin-bottom: 0;
  }
}

.ds-optical-padding {
  padding: var(--optical-padding);
}

.ds-margin {
  padding: var(--margin);
}

.ds-optical-margin {
  margin: var(--optical-margin);
}
