/**
 * Spacing
 * Utility classes for margins, paddings, etc.
 */

/* General paddings */
.ds-p,
.ds-padding {
  padding: var(--padding);

  & > *:last-child {
    margin-bottom: 0;
  }
}

.ds-optical-padding {
  padding: var(--optical-padding);
}

/* General margins */
.ds-m,
.ds-margin {
  padding: var(--space-md);
}

/* Vertical margins */
.ds-mt,
.ds-mt-md {
  margin-top: var(--space-md);
}
.ds-mt-sm {
  margin-top: var(--space-sm);
}

.ds-mt-lg {
  margin-top: var(--space-lg);
}

.ds-mt-xl {
  margin-top: var(--space-xl);
}

.ds-mt-xxl {
  margin-top: var(--space-xxl);
}

.ds-mb, 
.ds-mb-md {
  margin-bottom: var(--space-md);
}

.ds-mb-sm {
  margin-bottom: var(--space-sm);
}

.ds-mb-lg {
  margin-bottom: var(--space-lg);
}

.ds-mb-xl {
  margin-bottom: var(--space-xl);
}

.ds-mb-xxl {
  margin-bottom: var(--space-xxl);
}

.ds-optical-margin {
  margin: var(--optical-margin);
}
