* {
  background-color: var(--background-color);
  box-sizing: border-box;
  color: var(--color);
}

body {
  accent-color: var(--primary);
  font-size: var(--font-size);
  font-family: var(--font-family);
  font-weight: var(--font-weight);
  line-height: var(--line-height);
  padding: 0;
  margin: 0;
}